/* Helper Classes */

/* Font Styles / Modifiers */
.bold-text {
	font-weight: bold;
}

.italic-text {
	font-style: italic;
}

/* Text Formatting	*/
.tab {
	text-indent: 40px
}

/* Text Color */
.white-text {
	color: #FFF;
}