/* Variables */
$main-accent-color: #4286F4;
$main-accent-darken: #186BF2;
$secondary-accent-color: #373B44;
$text-shadow: 1px 1px 1px #000;
$common-margin: 20px auto 0;

$projectImagePath: '/img/projects/';

