/* Landing Page Style */
.landing-container {

	a,
	a:link {
		border-bottom: none;
	}

	.landing-grid {
		text-align: center;
		width: 100%;
		height: 100%;
		padding: 0;

		.mdl-cell {
			margin: 0;
			width: 100%;
		}

		.home-feature {
			position: relative;
			vertical-align: top;
			width: 100%;
			margin-top: 20px;

			@include mq-max(950px) {
				position: static;
				margin-top: 0;
			}
		}

		.feature-text {
			color: white;
			background-color: #000;
			border-radius: 20px;
			padding: 20px;
			text-shadow: 2px 2px 2px #000;
			position: absolute;
			top: 10%;
			right: 15%;

			@include mq-max(950px) {
				position: static;
				background-color: #FFF;
				text-shadow: none;
				margin: 0;
				padding-bottom: 0;
			}

			@include mq-max(500px) {
				padding: 0;
			}

			h1,
			div p {
				margin: 0;
			}

			h1 {
				font-size: 48px;
				text-align: center;
				margin-bottom: 10px;

				@include mq-max(950px) {
					color: $main-accent-color;
				}

				@include mq-max(900px) {
					font-size: 36px;
				}

				@include mq-max(500px) {
					margin-top: 20px;
				}
			}

			div {
				text-align: center;
				font-size: 48px;

				@include mq-max(950px) {
					color: #000;
					text-align: center;
				}

				@include mq-max(900px) {
					font-size: 24px;
				}

				p {
					font-size: 36px;
					display: inline-block;
					margin-bottom: 10px;
					vertical-align: middle;

					@include mq-max(950px) {
						margin-bottom: 20px;
					}

					@include mq-max(500px) {
						font-size: 24px;
					}

					@include mq-max(400px) {
						font-size: 18px;
					}
				}

				.bar {
					font-size: inherit;
					color: $main-accent-color;
					padding: 0 20px;

					@include mq-max(900px) {
						font-size: 48px;
					}

					@include mq-max(500px) {
						padding: 0 5px;
					}
				}
			}
		}

		.splash-img {
			width: 80%;
			display: block;
			margin: auto;
			border-radius: 20px;

			@include mq-max(500px) {
				width: 100%;
				border-radius: 0;
			}
		}

		.banner-text {
			background-color: black;
			opacity: 0.7;
			width: 80%;
			margin: 20px auto 0;
			border-radius: 20px;

			@include mq-max(500px) {
				width: 90%;
				border-radius: 10px;
			}

			h2 {
				margin: 0;
				padding-top: 20px;
				font-size: 48px;
				font-weight: bold;
				color: #FFF;

				@include mq-max(900px) {
					font-size: 24px;
				}
			}

			hr {
				border-top: 5px dotted #FFF;
				width: 50%;
				margin: auto;
			}

			div {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				margin: 10px 0;
				padding: 9px;
				font-size: 36px;

				@include mq-max(600px) {
					padding: 3px 0;
				}

				.tech-skill {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					
					img {
						height: 75px;
						max-height: 75px;
						width: 75px;
						max-width: 75px;

						@include mq-max(600px) {
							height: 50px;
							max-height: 50px;
							width: 50px;
							max-width: 50px;
						}

						&.jquery {
							width: 250px;
							max-width: 250px;

							@include mq-max(600px) {
								width: 150px;
								max-width: 150px;
							}
	
						}

						&.react,
						&.git {
							width: 100px;
							max-width: 100px;
						}

						&.nodejs,
						&.mysql,
						&.mongodb {
							width: 150px;
							max-width: 150px;

							@include mq-max(600px) {
								height: 75px;
								max-height: 75px;
								width: 75px;
								max-width: 75px;
							}
						}
					}

					p {
						color: #FFF;
						font-size: 20px;
						font-weight: bold;
						padding: 9px 0;
						margin-bottom: 0;
	
						@include mq-max(900px) {
							font-size: 16px;
						}
	
						@include mq-max(850px) {
							margin-bottom: 5px;
						}
					}
				}

				.bar {
					font-size: 90px;
					color: $main-accent-color;
					padding: 0 9px;

					@include mq-max(900px) {
						font-size: 24px;
					}

					@include mq-max(850px) {
						font-size: 40px;
					}
					
					@include mq-max(600px) {
						font-size: 60px;
					}
				}
			}

			.social-links {
				display: flex;
				justify-content: space-between;
				width: 50%;
				margin: auto;
				padding-bottom: 20px;

				@include mq-max(850px) {
					width: 75%;
				}

				i {
					color: #FFF;
					font-size: 3em;
				}

				i.fa-github:hover {
					opacity: 0.5;
				}

				i.fa-linkedin:hover {
					color: #0A66C2;
				}
			}
		}
	}
}