/* Projects Page Styles */
.projects-page {
	.projects-tabs {
		&.tabs {
			overflow-x: scroll;
		}

		div {
			flex-wrap: nowrap;
			width: max-content;

			@include mq-max(1000px) {
				height: 90px;
			}

			.tab-name {
				&.active {
					color: $main-accent-color;
				}

				&:hover {
					color: $main-accent-color;
				}

				@include mq-max(1000px) {
					height: 90px;
					line-height: 90px;
					padding-top: 25px;

					&:last-of-type {
						border-right: none;
					}
				}

				@include mq-max(850px) {
					padding-top: 0;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				@include mq-max(500px) {
					font-size: 12px;
				}
			}
		}
	}

	p {
			font-size: 20px;
			text-align: left;
			margin: 10px 0;
	}

	.projects {

		h1 {
			text-align: center;
			font-size: 48px;
			margin: 20px 0;
		}

		.projects-grid {
			display: flex;
			flex-flow: row wrap;

			.project-cards {
				width: 45%;
				min-width: 300px;
				margin: 10px auto;

				@include mq-max(631px) {
					width: 90%;
				}

				.project-cards-title {
					position: relative;
					color: #FFF;
					height: 200px;

					.title-background {
						position: absolute;
						top: 0;
						left: 0;
						font-size: 24px;
						text-shadow: 1px 1px 5px #000;
						padding: 10px;
						background-color: $main-accent-color;
					}

					/* Nexient Projects */
					// TODO: figure out better way to display these
					&.levis {
						background: url($projectImagePath + 'lma_home_screen.jpeg'), url($projectImagePath + 'lma_onboarding.jpeg');
						background-position: left top, right top;
						background-repeat: no-repeat;
						background-size: contain;
					}

					&.vectorform {
						background: url($projectImagePath + 'vectorform.png');
						@include centerProjectImage();
					}

					/* OliveAI */
					&.olive {
						background: url($projectImagePath + 'oliveai.png');
						@include centerProjectImage();
					}

					/* Personal Projects */
					&.pomodoro {
						background: url($projectImagePath + 'pomodoro.png');
						@include centerProjectImage();
					}

					&.mappr {
						background: url($projectImagePath + 'mappr.png');
						@include centerProjectImage();
					}

					&.quizzlr {
						background: url($projectImagePath + 'quizzlr.png');
						@include centerProjectImage();
					}

					&.dooer {
						background: url($projectImagePath + 'dooer.png');
						@include centerProjectImage();
					}

					/* JavaScript30 */
					&.drum-kit {
						background: url($projectImagePath + 'js30/drum_kit.png');
						@include centerProjectImage();
					}

					&.css-js-clock {
						background: url($projectImagePath + 'js30/css_js_clock.png');
						background-position: top;
						background-size: cover;
					}

					&.css-js-vars {
						background: url($projectImagePath + 'js30/css_js_vars.png');
						@include centerProjectImage();
					}
					
					&.array-cardio-1 {
						background: url($projectImagePath + 'js30/array_cardio_1.png');
						@include centerProjectImage();
					}
					
					&.flex-panels {
						background: url($projectImagePath + 'js30/flex_panels.png');
						@include centerProjectImage();
					}
					
					&.ajax-map {
						background: url($projectImagePath + 'js30/ajax_map.png');
						@include centerProjectImage();
					}
					
					&.array-cardio-2 {
						background: url($projectImagePath + 'js30/array_cardio_2.png');
						@include centerProjectImage();
					}
					
					&.canvas-drawing {
						background: url($projectImagePath + 'js30/canvas_drawing.png');
						@include centerProjectImage();
					}
					
					&.dev-tool-tricks {
						background: url($projectImagePath + 'js30/dev_tool_tricks.png');
						@include centerProjectImage();
					}

					&.multiple-checkboxes {
						background: url($projectImagePath + 'js30/multiple_checkboxes.png');
						@include centerProjectImage();
					}
					
					&.html5-video {
						background: url($projectImagePath + 'js30/html5_video.png');
						@include centerProjectImage();
					}
					
					&.key-sequence-detection {
						background: url($projectImagePath + 'js30/key_sequence_detection.png');
						@include centerProjectImage();
					}
					
					&.slide-image-on-scroll {
						background: url($projectImagePath + 'js30/slide_image_on_scroll.png');
						@include centerProjectImage();
					}

					&.references-vs-copying {
						background: url($projectImagePath + 'js30/references_vs_copying.png');
						background-position: top;
						background-size: cover;
					}

					&.local-storage {
						background: url($projectImagePath + 'js30/local_storage.png');
						@include centerProjectImage();
					}

					&.css-text-shadow {
						background: url($projectImagePath + 'js30/css_text_shadow.png');
						@include centerProjectImage();
					}

					&.sorting-data {
						background: url($projectImagePath + 'js30/sorting_data.png');
						@include centerProjectImage();
					}

					&.tally-times{
						background: url($projectImagePath + 'js30/tally_times.png');
						@include centerProjectImage();
					}

					&.webcam-fun {
						background: url($projectImagePath + 'js30/webcam_fun.png');
						@include centerProjectImage();
					}

					&.speech-recognition {
						background: url($projectImagePath + 'js30/speech_recognition.png');
						@include centerProjectImage();
					}

					&.geolocation {
						background: url($projectImagePath + 'js30/geolocation.png');
						@include centerProjectImage();
					}

					&.follow-along-links {
						background: url($projectImagePath + 'js30/follow_along_links.png');
						@include centerProjectImage();
					}

					&.speech-synthesis {
						background: url($projectImagePath + 'js30/speech_synthesis.png');
						@include centerProjectImage();
					}

					&.ajax-map {
						background: url($projectImagePath + 'js30/ajax_map.png');
						@include centerProjectImage();
					}
					
					&.sticky-nav {
						background: url($projectImagePath + 'js30/sticky_nav.png');
						@include centerProjectImage();
					}
					
					&.event-capture {
						background: url($projectImagePath + 'js30/event_capture.png');
						@include centerProjectImage();
					}

					&.follow-dropdowns {
						background: url($projectImagePath + 'js30/follow_dropdowns.png');
						@include centerProjectImage();
					}	

					&.click-drag-scroll {
						background: url($projectImagePath + 'js30/click_drag_scroll.png');
						@include centerProjectImage();
					}

					&.video-speed {
						background: url($projectImagePath + 'js30/video_speed.png');
						@include centerProjectImage();
					}

					&.countdown-timer {
						background: url($projectImagePath + 'js30/countdown_timer.png');
						@include centerProjectImage();
					}

					&.whack-a-mole {
						background: url($projectImagePath + 'js30/whack_a_mole.png');
						@include centerProjectImage();
					}

					/* Games */ 
					&.tetris {
						background: url($projectImagePath + 'tetris.png');
						@include centerProjectImage()
					}

					&.flappy-bird {
						background: url($projectImagePath + 'flappy_bird.png');
						@include centerProjectImage()
					}

					&.trex-runner {
						background: url($projectImagePath + 'trex_runner.png');
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
					}

					/* GTB Projects */
					&.optima {
						background: url($projectImagePath + 'optima.png');
						@include centerProjectImage()
					}

					&.varta {
						background: url($projectImagePath + 'varta.png');
						@include centerProjectImage();
					}

					&.varta-china {
						background: url($projectImagePath + 'varta_china.png');
						@include centerProjectImage();
					}

					&.delkor {
						background: url($projectImagePath + 'delkor.png');
						@include centerProjectImage();
					}

					&.delkor-korea {
						background: url($projectImagePath + 'delkor_korea.png');
						@include centerProjectImage();
					}

					/* LoveBook Projects */
					&.mylovebook {
						background: url($projectImagePath + 'mylovebook.png');
						@include centerProjectImage();
					}

					&.lovecoups {
						background: url($projectImagePath + 'lovecoups.png');
						@include centerProjectImage();
					}

					/* Progressive Solutions Projects */
					&.stationeryhq {
						background: url($projectImagePath + 'stationeryhq.png');
						@include centerProjectImage();
					}

					&.frecklebox {
						background: url($projectImagePath + 'frecklebox.png');
						@include centerProjectImage();
					}

					/* Shumunov Solutions Projects */
					&.regenmedglobal {
						background: url($projectImagePath + 'regenmedglobal.png');
						@include centerProjectImage();
					}

					// TODO: figure out better way to display these
					&.whosout {
						background: url($projectImagePath + 'whosout.png'), url($projectImagePath + 'whosout_loading.jpeg');
						background-position: left top, right top;
						background-repeat: no-repeat;
						background-size: contain;
					}

					&.directory {
						background: url($projectImagePath + 'directory.png');
						@include centerProjectImage();
					}

					&.shumunov-solutions {
						background: url($projectImagePath + 'shumunov_solutions.png');
						@include centerProjectImage();
					}

					&.jk-unlimited-services {
						background: url($projectImagePath + 'jk_unlimited.png');
						background-position: top;
						background-size: cover;
					}

					&.paper-goods-warehouse {
						background: url($projectImagePath + 'papergoodswarehouse_website.png');
						@include centerProjectImage();
					}
				}

				.project-description {
					width: 100%;
					border-top: 1px solid rgba(0, 0, 0, 0.1);
				}
			}
		}
	}
}