/* Resume Page Styles */
.resume-page {

	.grid {
		padding: 0;

		@include mq-max(950px) {
			justify-content: center;
		}
	}

	.mdl-cell {
		margin: 0;
	}

	@include mq-min(950px){
		/* Account for removal of material padding */
		.mdl-cell--4-col,
		.mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
			width: 33.3333333333%;
		}

		.mdl-cell--8-col,
		.mdl-cell--8-col-desktop.mdl-cell--8-col-desktop {
			width: 66.6666666667%;
		}
	}

	@include mq-between(480px, 950px) {
		.mdl-cell--4-col,
		.mdl-cell--4-col-tablet.mdl-cell--4-col-tablet,
		.mdl-cell--8-col,
		.mdl-cell--8-col-tablet.mdl-cell--8-col-tablet {
			width: 100%;
		}
	}

	@include mq-max(479px) {
		.mdl-cell--4-col,
		.mdl-cell--4-col-tablet.mdl-cell--4-col-tablet,
		.mdl-cell--8-col,
		.mdl-cell--8-col-tablet.mdl-cell--8-col-tablet {
			width: 100%;
		}
	}

	.resume-left-column {
		text-align: center;
		padding: 0 5px;

		.resume-avatar {
			width: 300px;
			border-radius: 20px;
			display: block;
			margin: $common-margin;

			@include mq-max(950px) {
				width: 90%;
				max-width: 400px;
			}
		}

		h2,
		h4 {
			margin: $common-margin;
		}

		h2 {
			font-size: 36px;
		}

		h4 {
			color: grey;
		}

		hr {
			margin: 20px auto;
			border-top: 5px solid $main-accent-color;
			width: 50%;
		}

		@include mq-max(950px) {
			hr:last-of-type {
				border-top: none;
				margin: 0 auto 20px;
			}
		}

		.programming-quote {
			font-size: 20px;
		}

		p {
			margin-bottom: 0;
		}
	}

	.resume-right-column {
		background: $secondary-accent-color;
		color: #FFF;
		padding: 0 2rem 20px;
		border: 5px solid $main-accent-color;

		@include mq-max(950px) {
			padding: 0 20px 20px;
		}

		.resume-heading {
			text-align: center;
			margin-top: 20px;

			i {
				font-size: 40px;
			}

			h2 {
				display: inline-block;
				margin: 10px;
				font-size: 36px;
				font-weight: bold;
				text-decoration: underline;
				text-align: center;
			}
		}

		.education-container,
		.experience-container {
			margin-bottom: 10px;
		}

		h3,
		h4,
		h5 {
			margin: 0 0 5px;
		}

		.experience-container {

			.job-responsibilities-list {
				margin: 0;
				padding-top: 0;
				position: relative;
				list-style: none;
				padding-left: 1.2em;

				.job-responsibility {
					display: list-item;
					color: white;
					padding: 5px 0;
					min-height: 0;
					line-height: 1.4;

					&:before {
						content: "+";
						position: absolute;
						left: 0;
					}
				}
			}
		}

		.skills-container {

			h3 {
				text-align: center;
				font-size: 24px;
				text-decoration: underline;
			}

			.tech-skill {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				
				img {
					height: 75px;
					max-height: 75px;
					width: 75px;
					max-width: 75px;

					@include mq-max(600px) {
						height: 50px;
						max-height: 50px;
						width: 50px;
						max-width: 50px;
					}

					&.jquery {
						width: 250px;
						max-width: 250px;

						@include mq-max(600px) {
							width: 150px;
							max-width: 150px;
						}

					}

					&.react,
					&.git {
						width: 100px;
						max-width: 100px;
					}

					&.nodejs,
					&.mysql,
					&.mongodb {
						width: 150px;
						max-width: 150px;

						@include mq-max(600px) {
							height: 75px;
							max-height: 75px;
							width: 75px;
							max-width: 75px;
						}
					}
				}
			}

			.progress-container {
				display: flex;
				margin-bottom: 10px;

				span {
					width: 150px;
					font-size: 24px;

					&.skill-name-centered {
						width: 100%;
						text-align: center;
						font-size: 21px;
						margin-bottom: 20px;
					}
				}

				.skill-progress {
					margin: auto;
					width: 75%;

					&.mdl-progress {
						height: 8px;
					}
				}
			}
		}

		a,
		a:link {
			color: #FFF;
		}

		a:hover {
			color: $main-accent-color;
		}

		hr {
			border-top: 5px solid $main-accent-color;
			width: 50%;
			margin: 20px auto;
		}

		p {
			margin-bottom: 0;
		}
	}
}