/* Variables */
$main-accent-color: #4286F4;
$secondary-accent-color: #373B44;
$text-shadow: 1px 1px 1px #000;
$common-margin: 20px auto 0;

@import './sass/_mixins.scss';
@import './sass/pages/landingpage';
@import './sass/pages/aboutpage';
@import './sass/pages/bookspage';
@import './sass/pages/contactpage';
@import './sass/pages/notfound';
@import './sass/pages/photogallery';
@import './sass/pages/projectspage';
@import './sass/pages/resumepage';

/* General Styles / Resets */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}

a,
a:link {
	text-decoration: none;
	color: #51483D;
	border-bottom: 1px solid #ccc;
	padding: 0 0 1px 0;
	cursor: pointer;
}

a:hover {
	font-weight: bold;
	color: $main-accent-color;
	border-bottom: 1px solid #999;
}

a:visited {
	color: #551A8B;
}

/* Helper Classes */

/* Font Styles / Modifiers */
.bold-text {
	font-weight: bold;
}

.italic-text {
	font-style: italic;
}

/* Text Formatting	*/
.tab {
	text-indent: 40px
}

/* Text Color */
.white-text {
	color: #FFF;
}

/* Navigation Styles */
.header-color {
	background: $secondary-accent-color; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, $secondary-accent-color, $main-accent-color);	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, $secondary-accent-color, $main-accent-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav a,
nav a:link {
	border-bottom: none;
}

nav a.active {
	font-size: 20px;
	font-weight: bold;
	text-shadow: $text-shadow;
}

.mdl-layout__drawer nav a.active {
	text-shadow: none;
}

nav.mdl-navigation a:hover {
	font-size: 20px;
	font-weight: bold;
	text-shadow: $text-shadow;
}

.mdl-layout__drawer nav.mdl-navigation a:hover {
	text-shadow: none;
}

@include mq-max(1024px) {
	.mobile-header {
		position: fixed;
		height: 64px;
		background-color: white;
		width: 100%;
		z-index: 2;
		border-bottom: 1px solid rgb(224,224,224)
	}
}

/* Not Found Page Styles */
.not-found {
	// Header Fix
	@include mq-max(1024px) {
		margin-top: 64px;
	}

	p {
		margin-top: 20px;
		font-size: 20px;
	}

	a {
		font-size: 20px;
	}
}
/* Footer Styles */
.footer {
	margin-top: 20px;
	text-align: center;

	@include mq-max(500px) {
		margin: 20px;
	}

	p {
		font-size: 16px;
	}
}
